
.settings
.project
target
/marbles-web/.settings
/marbles-web/target
/marbles-web/.classpath
/marbles-web/.project
/marbles-web/marblesdb.lck
/marbles-web/marblesdb.log
/marbles-web/marblesdb.properties
/marbles-web/marblesdb.script
/marbles-core/marblesdb.tmp
/marbles-core/target
/marbles-core/.classpath
/marbles-core/.project
/marbles-core/marblesdb.lck
/marbles-core/marblesdb.log
/marbles-core/marblesdb.properties
/marbles-core/marblesdb.script
/marbles-core/.settings
/marbles-api/.settings
/marbles-api/target
/marbles-api/.classpath
/marbles-api/.project
/marbles.ipr
/marbles.iws
/marbles.iml
/marbles-mobile-web/.settings
/marbles-mobile-web/target
/marbles-mobile-web/.classpath
/marbles-mobile-web/.project
/marbles-test/.settings
/marbles-test/target
/marbles-test/.classpath
/marbles-test/.project
*.ico
desktop.ini
.idea/
*/*.iml
marblesdb.*
