
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	/*color: #A7430F;*/
	color: #F7430F;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 760px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 740px;
	height: 148px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 90px;
	margin: 0;
	padding-top: 50px;
	background: url(logo.png) no-repeat left 20px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 120px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font-style: italic;
	color: #000000;
}

#logo p a {
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}


/* Menu */

#menu {
	width: 740px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
}

#menu ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 26px;
	margin-bottom: 10px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border: none;
}

#menu a:hover {
	text-decoration: underline;
}

/* Breadcrumb */

#breadcrumb {
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
    width: 560px;
	height: 20px;
	font-size: 10px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E1E1E1;
}

#breadcrumb ul {
	margin: 0px 0px 0px 0px;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#breadcrumb li {
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

#breadcrumb span.separator {
	padding: 0px 4px 0px 4px;
}

#breadcrumb li:first-child {
    padding: 0px 0px 0px 0px;
    border-left: none;
}

#breadcrumb a {
	padding: 0px 0px 0px 0px;
	border: none;
	color: #464032;
    font-size: 10px;
}

#breadcrumb a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}


/* Page */

#page {
	width: 740px;
	margin: 0 auto;
	padding: 0 10px;
}

/* Content */

#content {
	float: left;
	width: 560px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #E1E1E1;
}

#content-base {
	float: left;
	width: 560px;
	padding: 0px 0px 0px 0px;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 167px;
	padding: 0px;
	color: #000000;
	background-color: #F1F1F1;
    border: 1px solid #E1E1E1;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E5E0C6;
	margin: 0px 30px;
}

#sidebar h2 {
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #FFFFFF;
	letter-spacing: -.5px;
	font-size: 1.6em;
	color: #000000;
}

#sidebar p {
	margin: 0 0px;
	padding: 10px 30px 20px 30px;
	text-align: justify;
}


#sidebar li li span {
	border: none;
	color: #AAAAAA;
}


#sidebar a {
	border: none;
	color: #464032;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}


/* Footer */

#footer {
	width: 740px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 4px solid #E1E1E1;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#footer a {
	color: #464032;
}

div.pageContent {
    padding: 0 10px;
}

div.siteContent {
    font-family: monospace;
    padding: 0 10px;
}


div.siteContent a:hover, a:active {
	text-decoration: underline;
	color: #8A8A8A;
}

div.siteContent a:visited {
	color: #994444;
}

div.siteContent a:link {
	color: #994444;
}

#content a.create {
	color: #FF2200;
}


.bigtable {
    width: 540px;
}

th {
    color: #444444;
    text-align: left;
    border-bottom: 1px dotted #E5E0C6;
}

.center {
    text-align: center;
}

img {
    border: 0px;
}

form div {
    padding-top: 5px;
    padding-bottom: 5px;
}

form div label {
    width: 200px;
}

form div.buttons {
    padding-top: 10px;
}

div.confirmationBox {
	font-weight: bold;
    padding: 10px 10px 10px 10px;
    background: #FFEEEE;
    border: 1px solid #FF0000;
    font-size: 14px;
    margin: 10px;
}

div.confirmationBox span {
    padding-right: 15px;
}

div.confirmationBox a {
    padding: 5px 5px 5px 5px;
	font-weight: bold;
}

#pageContent {
	border: 1;
	height: 255px;
    width: 536px;
    font-size: 12px;
}

a.arrow {
	background: url(arrow_right.png) no-repeat scroll 0 0.3em transparent;
	padding: 0 0 0 20px;
}