
body {
	margin: 0;
	padding: 0 20px;
	background: #FFFFFF;
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
    padding: 0 0px;
}

div.siteContent {
    padding: 0 0px;
}